/*Endrer ting innenfor html og body taggen*/
html, body {
  /*fyller hele siden*/
  margin: 0px;
}
/*Endrer alt innenfor header taggen*/
header {
  /*Fonten vi bruker*/
  font-family: Raleway;
  /*Gjør boksen større*/
  padding: 35px;
  /*setter teksten på midten*/
  text-align: center;
  /*Gjør bakgrunnen grå*/
  background: #555;
}
/*Endrer overskriften/ene i header taggen*/
header h1 {
    /*Dette bestemmer fargen på teksten*/
  color: #AAA;

}
/*Endrer boksen der linkene er*/
div.container {
  /*Font-family bestemmer hviklen font(tekststil) som brukes*/
  font-family: Raleway;
  /*dette gjør boksen som teksten er i større*/
  padding: 30px;
  /*dette plasserer teksten i midten*/
  text-align: center;
  /*Endrer høyden*/
  height:40px;
}

div.sticky {
  /*Gjør div til sticky. Slik at den er i toppen når man scroller*/
  position: sticky;
  /*Bestemmer toppen*/
  top: 0;
  /*Bestemmer farge*/
  background-color: #130FFF;
  /*Velger font størrelse*/
  font-size: 20px;
}

/*Endrer teksten til linkene*/
div.container a {
  /*Linkene blir svart*/
  color: #000000;
  /*Fjernet linjen under teksten*/
  text-decoration: none;
  /*Lager mellomrom mellom linkene*/
  margin: 0px 10px;
  padding: 10px 10px;
}
/*Endrer alle overskriftene*/
h1 {
  /*Endrer fargen på overskriften til hvit*/
  color: white;
  /*Endrer størrelsen på teksten*/
  font-size: 40px;
  /*Tynner ut skriften/Gjør den mindre*/
  font-weight: lighter;
  /*Font-family bestemmer hviklen font(tekststil) som brukes*/
  font-family: "Orbitron" , monospace;
}
/*Endrer alle paragrafer*/
p {
  /*Font-family bestemmer hviklen font(tekststil) som brukes*/
  font-family:"Pacifico" , cursive;
}
/*Endrer ting innenfor "Hei" div taggen*/
.Hei {
  /*Endrer bakgrunnsfargen*/
  background:#1a6ef4;
  /*setter teksten på midten*/
  text-align:center;
}
/*Endrer ting innenfor "Fakta" div taggen*/
.Fakta {
  background:#1a6ef4;
  /*setter teksten på midten*/
  text-align:center;
}
