@import 'https://fonts.googleapis.com/css?family=Raleway';
/*Vi fant denne fonten*/

html, body {
  /*fyller hele siden*/
  margin: 0px;
}

header {
  /*Fonten vi bruker*/
  font-family: Raleway;
  /*Gjør boksen større*/
  padding: 35px;
  /*setter teksten på midten*/
  text-align: center;
  /*Gjør bakgrunnen grå*/
  background: #555;
  width:auto;

}

header h1 {
  color: #AAA;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 5px;
}
/*Endrer boksen der linkene er*/
div.container {
  font-family: Raleway;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  height:40px;
  width:auto;
}
/*Endrer teksten til linkene*/
div.container a {
  /*Linkene blir svart*/
  color: #000000;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  WORD-SPACING:2px;
}

.red {
  background: blue;
}

h1 {
  color: antiquewhite;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 5px;
  font-family: "Orbitron" , monospace;
}
p {
  font-family:"Pacifico" , cursive;
  text-indent:60px;
  font-weight:lighter;
}
.Hei {
  background:#1a6ef4;
  text-align:center;
}
.Fakta {
  background:#538fef;
  text-align:center;
}

.Hade {
   background:#93b8f2;
   text-align:center;
}

.form {
  background:aqua;
  text-align:center;
}
